<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Yaoli_Tracking::trackorder_head" title="Tracking" module="Yaoli_Tracking" sortOrder="100" parent="Magento_Backend::stores" resource="Yaoli_Tracking::trackorder_head" />
        <add id="Yaoli_Tracking::trackorder" title="Tracking" module="Yaoli_Tracking" sortOrder="20" parent="Yaoli_Tracking::trackorder_head" action="tracking/trackorder" resource="Yaoli_Tracking::trackorder_head" />
    </menu>
</config>